{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit a user</h1>
<form method="POST">
<label for="first_name">First Name</label>
<input 
    type="text" 
    name="first_name" 
    maxlength="50" 
    placeholder="Enter a first name"
    value='{{user.first_name}}'
    required
>
<br/>
<label for="last_name">Last Name</label>
<input 
    type="text" 
    name="last_name" 
    maxlength="50" 
    placeholder="Enter a last name"
    value='{{user.last_name}}'
    required
>
<br/>

<label for="image_url">Image URL</label>
<input 
    type="url" 
    name="image_url"
    placeholder="Provide an image of this user"
    value='{{user.image_url}}'
>
<br/>
<a href='/users/{{user.id}}' class='btn btn-outline-primary' role='button'> Cancel </a>
<button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}